:root {
  --bg-primary: #000000;
  --text-light: #FFFFFF;
  --text-dark: #1D1D1F;
  --title-primary-color: #F5F5F7;
  --subtitle-color: #6E6E73;
  --action-color: #2997FF;
  --spirited-main-color: #DED2B9;
}
